DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/bookly_db
JWT_SECRET=need_to_be_changed
JWT_ALGORITHM=HS256
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

MAIL_USERNAME=doublc_qluv
MAIL_PASSWORD=need_to_be_changed!
MAIL_SERVER=smtp.163.com
MAIL_PORT=465
MAIL_FROM=doublc_qluv@163.com
MAIL_FROM_NAME=BooklyAdmin

DOMAIN=http://localhost:8000